.mainContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.questionContainer {
  border: 1px solid black;
  padding: 2rem;
  border-radius: 1rem;
  width: 600px;
}
@media (max-width: 600px) {
  .questionContainer {
    width: 90%;
  }
}
.answerOptionContainer {
  padding-top: 1rem;
}
.answerOption {
  width: 100%;
  cursor: pointer;
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}
.active {
  background-color: aliceblue;
}
.correct {
  background-color: green;
}
.inCorrect {
  background-color: red;
}
.preview {
  pointer-events: none;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  max-width: 700px;
  margin-top: 1rem;
}
