.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
  }
  .text {
    margin-bottom: 0.5rem;
  }
  .input {
    margin-bottom: 1rem;
  }
  
